body {
    font-family: Arial, Helvetica, sans-serif;
}

body > div {
    padding: 0 200px;
}

.header {
    color: #FFF;
    background-color: #1F2937;
}

.hero {
    color: #FFF;
    background-color: #1F2937;
}

.gallery {
    color: #000;
}

.quote {
    background-color: #E5E7EB;
}

.bottom {
    color: #000;
}

.footer {
    color: #FFF;
    background-color: #1F2937;
}