body {
    font-family: Roboto, Arial, Helvetica, sans-serif;
}

body > div {
    padding: 0 150px;
}

.header,
.hero,
.footer {
    color: #F9FAF8;
    background-color: #1F2937;
}

.gallery {
    color: #000;
}

.quote {
    background-color: #E5E7EB;
}

.bottom {
    color: #000;
}

/* Header section */

.header {
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-links {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
    gap: 20px;
}

.header-links a {
    text-decoration: none;
    color: #FFF;
}

.logo {
    font-weight: bolder;
    font-size: 24px;
}